h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
body {
    background-color: rgb(13, 0, 55);
    color: rgb(195, 232, 255);
}

header {
    
}